@model HRManagement.Data.Entities.Personel
@{
    Layout = "_LayoutSirketYoneticisi";
}




<div class="container-fluid row" style="margin-top:3%;margin-bottom:3%">
    <div class="col-12 align-content-center justify-content-center">
        <div class="row">
            <div class="col-3 align-items-center align-content-center float-right">


                @if (Model.IsActive == false)
                {
                    <a class="btn btn-success" asp-controller="Settings"
                       asp-action="ChangeActiveStatu"
                       asp-route-ID="@Model.ID">Hesabı Aktifleştir</a>
                }
                else
                {
                    <a class="btn  btn-danger" asp-controller="Settings"
                    asp-action="ChangeActiveStatu"
                    asp-route-ID="@Model.ID">Hesabı Deaktive Et</a>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                @await Component.InvokeAsync("PackageUsageChart")
            </div>
            <div class="col-4">
                @await Component.InvokeAsync("EmployeeOffDayChart")
            </div>
            <div>
                @await Component.InvokeAsync("UpcomingPaymentsChart")
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                @await Component.InvokeAsync("CompanySettings", new { personel = Model })
            </div>
            <div class="col-6">
                @await Component.InvokeAsync("UserSettings", new { personel = Model })
            </div>
        </div>
    </div>
</div>

